body {
  background-color: white;
  font-family: "Times New Roman";
  font-size: 20pt;
  color: #1E90FF;
  text-align: center;
}
h1 {
	display: inline-block; 		/*shrinks width to fit text*/
	background-color:#1E90FF; 	/*Only around text*/
	font-size: 50pt;		/*font size*/
	color: white; 			/*text color*/
	padding: 5px 10px; 		/*space around text*/
	margin: 20px auto; 		/*Centers h1 horizontaly*/
	text-align: center; 		/*centers text inside color box*/
}
h2 { 
	text-align: left;		
	background-color:#1E90FF;
	font-size: 32pt;
	color: white;
}
img { 
	display: block;		
	float: left;		
	margin: 0 15px 15px 0;
}
p.shrt {
	display: inline-block;		/*shrinks text to fit within block*/
	background-color:lightblue;	/*Colors around text*/	
	width: 600px;			/*width of inital block*/
	padding: 5px 10px;		/*Space around text*/
	margin: 10px 0;			/*centers shrt horizontaly*/
	text-allign: center;		
	font-size: 20; 
	font-family: "Times New Roman";
}
p {		
	font-size: 12; 
	font-family: "Times New Roman";
}
.row {
	display: flex;
	gap: 20px;
}
li {
  	text-align: left;
}


	
	